/* Image container styles */
.image-container {
  height: 400px; /* Set your desired fixed height */
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px; /* Adjust the top padding as needed */
  padding-bottom: 10px; /* Adjust the bottom padding as needed */
}

/* Image styles */
.image-container img {
  width: auto;
  height: 100%;
  transform: scale(0.55); 
  object-fit: contain;
 /* Keep this as "contain" */
/* Zoom out by 15% (100% - 15%) */
  transition: transform 0.3s ease-in-out;
}

/* Zoom effect on hover */
.image-container img:hover {
  transform: scale(1); /* Reset to normal scale on hover */
}

.w-100 {
  object-fit: contain;
  /* transform: scale(0.55);  */
}


  /* Slick Carousel styles */
  .portfolio-slick-activation {
    position: relative;
  }
  
  .portfolio-slick-activation button.slick-arrow {
    position: absolute;
    z-index: 3;
    background: transparent;
    font-size: 20px;
    height: 101%;
  }
  
  .portfolio-slick-activation button.slick-arrow::before {
    line-height: 1;
    opacity: 1;
    font-size: 30px;
    position: relative;
    top: -14px;
    transition: 0.5s;
  }
  
  .portfolio-slick-activation button.slick-prev,
  .portfolio-slick-activation button.slick-next {
    
    bottom: 0; /* Adjust the positioning to be fixed at the bottom */
    top: auto; /* Override the top property */
    margin-top: 0; /* Remove any top margin */
  }
  
  .portfolio-slick-activation button.slick-prev {
    left: 0;
    /* ... (Rest of the styles for .slick-prev) */
  }
  

  .portfolio-slick-activation button.slick-next {
    right: 50px; /* Adjust the distance from the right edge */
    bottom: 0;
    transform: translateY(50%);
    /* ... (Rest of the styles for .slick-next) */
  }
  
  .portfolio-slick-activation button:hover {
    /* ... Hover styles */
  }
  
  /* Slick Gutter Space */
  .slick-space-gutter--15 {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .slick-space-gutter--15 .slick-slide {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .portfolio {
    margin: 40px 0;
  }
  
  .slickdot--20 .slick-dots {
    bottom: -20px;
  }
  